/* Rmove shading from Bootstrap buttons */
.btn {
      background-image: none;
      text-shadow: none;
      box-shadow: none;
      -webkit-box-shadow: none;
}

/* Override DataTables info element styles */
.dataTables_info {
    padding-bottom: 8px;
    font-weight: bold;
}

/* 20px spacer for DataTables DOM */
.spacer {
    height: 20px;
}

/* Remove lines from info view tables */
.info-list tr.odd td, .info-list tr.even td {
    border-top: none;
}

