/* Remove shading from Bootstrap buttons */
.btn {
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* Remove shading from Bootstrap alerts */
.alert {
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

/* Override DataTables info element styles */
.dataTables_info {
    padding-bottom: 8px;
    font-weight: bold;
}

/* 20px spacer */
.spacer_20 {
    height: 20px;
}

/* 1.0em spacer */
.spacer_1em {
    height: 1.0em;
}

/* 1.5em spacer */
.spacer_1_5em {
    height: 1.5em;
}

/* 2.0em spacer */
.spacer_2em {
    height: 2.0em;
}

/* 1.0em tall hr */
.hr_1em {
    height: 1.0em;
    border-top: 1px solid #ddd;
}

/* Remove lines from info view tables */
.info-list tbody tr td, .info-list tr.odd td, .info-list tr.even td {
    border-top: none;
}

/* Add 10px horizontal padding */
.padding-horiz-10px {
    padding-left: 10px;
    padding-right: 10px;
}
